src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.pdb
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.pdb
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.data.dll
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.core.pdb
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.core.dll
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.pdb
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csprojAssemblyReference.cache

/src/backend/.vs/backend/v16/Server/sqlite3
/.vs

src/backend/.vs/backend/v16/.suo
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.data/obj/Debug/netcoreapp2.2/project.razor.json
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.assets.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csproj.CoreCompileInputs.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csprojAssemblyReference.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/project.razor.json
src/backend/gql.core/obj/Debug/netstandard2.0/gql.core.assets.cache
src/backend/gql.core/obj/Debug/netstandard2.0/project.razor.json
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.assets.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csproj.CoreCompileInputs.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csprojAssemblyReference.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.assets.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csproj.CoreCompileInputs.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csprojAssemblyReference.cache
src/backend/gql.core/obj/Debug/netstandard2.0/gql.core.assets.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.assets.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csproj.CoreCompileInputs.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csprojAssemblyReference.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.assets.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csproj.CoreCompileInputs.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csprojAssemblyReference.cache
src/backend/gql.core/obj/Debug/netstandard2.0/gql.core.assets.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.assets.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csproj.CoreCompileInputs.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csprojAssemblyReference.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.pdb
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.pdb
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.deps.json
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.pdb
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.runtimeconfig.json
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.api.runtimeconfig.dev.json
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.core.dll
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.core.pdb
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.data.dll
src/backend/gql.api/bin/Debug/netcoreapp2.2/gql.data.pdb
src/backend/gql.api/obj/gql.api.csproj.nuget.cache
src/backend/gql.api/obj/gql.api.csproj.nuget.g.props
src/backend/gql.api/obj/gql.api.csproj.nuget.g.targets
src/backend/gql.api/obj/project.assets.json
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.dll
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.pdb
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.assets.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csproj.CoreCompileInputs.cache
src/backend/gql.api/obj/Debug/netcoreapp2.2/gql.api.csprojAssemblyReference.cache
src/backend/gql.core/bin/Debug/netstandard2.0/gql.core.dll
src/backend/gql.core/bin/Debug/netstandard2.0/gql.core.pdb
src/backend/gql.core/bin/Debug/netstandard2.0/gql.core.deps.json
src/backend/gql.core/obj/gql.core.csproj.nuget.cache
src/backend/gql.core/obj/gql.core.csproj.nuget.g.props
src/backend/gql.core/obj/gql.core.csproj.nuget.g.targets
src/backend/gql.core/obj/project.assets.json
src/backend/gql.core/obj/Debug/netstandard2.0/gql.core.dll
src/backend/gql.core/obj/Debug/netstandard2.0/gql.core.pdb
src/backend/gql.core/obj/Debug/netstandard2.0/gql.core.assets.cache
src/backend/gql.core/obj/Debug/netstandard2.0/gql.core.csproj.CoreCompileInputs.cache
src/backend/gql.data/bin/Debug/netcoreapp2.2/gql.core.dll
src/backend/gql.data/bin/Debug/netcoreapp2.2/gql.core.pdb
src/backend/gql.data/bin/Debug/netcoreapp2.2/gql.data.dll
src/backend/gql.data/bin/Debug/netcoreapp2.2/gql.data.pdb
src/backend/gql.data/bin/Debug/netcoreapp2.2/gql.data.deps.json
src/backend/gql.data/bin/Debug/netcoreapp2.2/gql.data.runtimeconfig.dev.json
src/backend/gql.data/obj/gql.data.csproj.nuget.cache
src/backend/gql.data/obj/gql.data.csproj.nuget.g.props
src/backend/gql.data/obj/gql.data.csproj.nuget.g.targets
src/backend/gql.data/obj/project.assets.json
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.dll
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.pdb
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.assets.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csproj.CoreCompileInputs.cache
src/backend/gql.data/obj/Debug/netcoreapp2.2/gql.data.csprojAssemblyReference.cache
